body {
    margin: 0;
    background-color: #F8EDE3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#3A3845;
}

.Search {
    float: right;
    margin-top: 12px;
    border:solid 3px #F8EDE3;
    outline: none;
}

.logIn {
    float: right;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color:#F8EDE3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #65647C;
}

.logIn {
    float: right;
}

.trendsList {
    margin: 30px;
}

.trends{
    margin-bottom: 0; 
}

.trends a{
    text-decoration: none;
    color: #3A3845;
}

.trends a:hover {
    text-shadow:2px 2px 2px #65647C;
}


.trendsWeek {
    color: #3A3845;
    opacity: 0.64;
    margin-top: 0;
}

div.trendsGallery {
    display: flex;
    justify-content:space-between;
    align-items:center;
    
}
  
.gallery {
    width: 170px;
    border: 1px solid #ccc;
    position: relative;
}

.gallery::before {
    display: block;
    position: absolute;
    z-index: -1;
    content: "";
    height: 307px;
    width: 170px;
    background-color: #65647C;
    top: 1px;
    left: -1px;
    transition: 0.15s;
}

.gallery:hover {
    border: 1px solid #65647C;
}

div.trendsGallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
    background-color: #f8ede3;
}

.gallery > a {
    background-color: #f8ede3;
}

.gallery:hover::before {
    top: 10px;
    left: -10px;
    transition: 0.15s;
}

.premiersList {
    margin: 30px;
    
}

.premiers {
    margin-bottom: 0;
    color: #3A3845;
}

.soon {
    margin-top: 0;
    color: #3A3845;
    opacity: 0.64;
}


table, th, td {
    width: 600px;
    text-align: center;
    border:1px solid #3A3845;
}

.premiersTable .Poster{
    width: 1%;
    height: fit-content;
}

.premiersTable .Name{
    width: 50%;
    height: fit-content;
   
}
.premiersTable .Date{
    width: 40%;
    height: fit-content;
}

.premiersTable .tdImg {
    max-width: 50px;
    height: fit-content;
    
}

.premiersTable td a {
    text-decoration: none;
    color: #3A3845 ;
    font-weight: bold;
    font-size: larger;
}

