body {
    margin: 0;
    background-color: #F8EDE3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#3A3845;
}

.Search {
    float: right;
    margin-top: 12px;
    border:solid 3px #F8EDE3;
    outline: none;
}

.logIn {
    float: right;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color:#F8EDE3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #65647C;
}

.logIn {
    float: right;
}